/* versão Desktop */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

main {
    overflow-x: hidden;
}

:root {
    --color-copyright: #A4A4A4;
    --color-text-color: #565656;
    --color-text-color-card: #757575;
    --color-border-card: #F2F2F2;
    --color-orange: #FF9900;
    --color-green: #00DA71;
    --color-blue: #2639ED;
    --color-pink: #FF007A;
    --color-beige: #FFF5DB;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #EFF1FF;
    --color-light-blue: #F4F9FF;
    --color-ellipse-shape-first: #DAE9FF;


    --color-background: #FFF5DB;
    --color-background-box: #F1F7FF;
    --color-background-wallet: #FFF7E3;
    --color-background-chart-square: #DEFFEE;
    --color-background-code: #FFF2F8;
    --color-dotted-line: #E7F0FC;
    --color-border-email-container: #F1F1F1;
}

.title__text__styling {
    font-size: 37px;
    font-weight: 600;
    color: var(--color-black);
    text-align: center;

}

.paragraph__text__styling {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text-color);
    text-align: center;

}

logo {
    display: none;
}

#menu__burguer {
    display: none;
}

#nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 8rem;
}

.navigation__items {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    gap: 2rem;
}

.navigation__items a {
    color: var(--color-black);
    text-decoration: none;
    font-weight: bolder;
}

.first__section {
    display: flex;
}

.first__section__left {
    width: 50%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first__section__rigth {
    width: 50%
}

.ellipse__shape {
    height: 4rem;
    width: 4rem;
    border-radius: 48px;
    background-color: var(--color-ellipse-shape-first);

    position: relative;
    z-index: -1;
    transform: translate(-24px, 80px);
}

.ligth__orange__ellipse__shape {
    height: 4rem;
    width: 4rem;
    border-radius: 0px 0px 35px 0px;
    background-color: var(--color-beige);

    position: relative;
    z-index: -2;
    transform: translate(312px, -43px);
}


.points {
    width: 22rem;

    transform: translate(-105px, 2px);
    z-index: -3;
  }

  .hr__points {
    border-top: 7px dotted #f4f4f4 !important;
    border-bottom: 7px dotted #f4f4f4 !important;
    border: none;
    padding: 7px;
    margin-bottom: 14px;
  }


  .second__section {
    display:flex
  }


  .logos__container {
    list-style: none;
    width:50%;
  }

.elements {
    width: 1372px;
    display: flex;
    gap: 32px;
}

.text__container {
    width: 471px;
    margin-left: 52px;
}

.text__container h1 {
    height: 56px;
    font-size: 27.15px;
    line-height: 32.85px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 95px;
}

.text__container h2 {
    height: 49px;
    font-size: 38px;
    font-weight: 700;
}

.text__container p {
    color: #757575;
}

.text__main {
    width: 471px;
    height: 78px;
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
    margin: 40px 0 33px 0;
}

.button {
    width: 215px;
    height: 65px;
    border-radius: 60px;
    background-color: #2639ED;
    border: 0.5px solid #2639ED;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.72px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    background-color: #DAE9FF;
    border: #DAE9FF;
    color: #000000;
    transform: scale(1.1);
    transition: all 0.5s;
}


.geometric__images {
    width: 817px;
    height: 578px;
    padding-top: 28px;
}

.ellipse {
    width: 129px;
    height: 129px;
    border-radius: 50%;
    background-color: #DAE9FF;
}

.container__image {
    width: 754px;
    height: 512px;
    display: flex;
    margin: -129px 0 0 63px;
}

.main__image {
    width: 100%;
}

.yellow__ellipse {
    width: 178px;
    height: 178px;
    border-end-end-radius: 50%;
    background-color: #FFF5DB;
    margin: -82px 0 0 519px;
}

.secondary__content {
    width: 100%;
}

.secondary__container {
    max-width: 1200px;
    padding-bottom: 94px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.secondary__text {
    display: flex;
    flex-direction: column;
    width: 336px;
    gap: 17px;
}

.secondary__text h2 {
    height: 49px;
    font-size: 38px;
    font-weight: 700;
}

.secondary__text p {
    height: 58px;
    font-size: 18px;
    font-weight: 400;
}

.carousel__container {
    display: flex;
}

.carousel {
    width: 864px;
    height: 120px;
}

.container__logos {
    width: 95%;
    margin: auto;
    overflow: hidden;
    /* display: flex;
    justify-content: space-between;
    gap: 60px; */
}

.container__logos ul {
    display: flex;
    padding: 0;
    width: 100%;
    animation: automatico 15s infinite alternate linear;
}

.container__logos li {
    width: 100%;
    list-style: none;
}

.container__logos img {
    width: 100%;
}

.google {
    margin-top: 56px;
    margin-bottom: 18.64px;
}

.airbnb {
    margin-top: 54px;
    margin-bottom: 17.86px;
}

.uber {
    margin-top: 66.50px;
    margin-bottom: 30px;
}

.amazon {
    margin-top: 71px;
    margin-bottom: 10px;
}

.boticario {
    margin-top: 55px;
    margin-bottom: 10px;
}

.alura {
    margin-top: 71px;
    margin-bottom: 10px;
}

.berenice {
    margin-top: 71px;
    margin-bottom: 10px;
}

/* .how__can__container {
    max-width: 1440px;
    padding-left: 82px;
} */

.third__content {
    width: 100%;
}

.third__container {
    margin: 0 auto;
    display: flex;
}

.geometric__how__can {
    width: 1358px;
    height: 867px;
    margin: 0 58px;
    display: flex;
}

.square {
    background-color: var(--color-background-how-can);
    width: 178px;
    height: 178px;
    border-radius: 100px 0px 0px 0px;
    margin-top: 300px;
    z-index: -1;
}

.third__text {
    z-index: +1;
}

.third__text h2 {
    color: var(--color-black);
    font-size: 40px;
    font-weight: 600;
    line-height: 49.44px;
    width: 358px;
    height: 98px;
    margin: -120px 0 30px 39px;

}

.third__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: var(--color-textcolor);
    width: 415px;
    height: 52px;
    margin: 30px 0 0 39px;
}

.points {
    width: 405px;
    height: 154px;
    margin: 109px 0 0 39px;
}

.hr__dotted {
    border-top: 7px dotted #E7F0FC !important;
    border-bottom: 7px dotted #E7F0FC !important;
    border: none;
    padding: 7px;
    margin-bottom: 14px;
    display: flex;
}

.big__square {
    background-color: var(--color-light-blue);
    height: 619px;
    width: 1047px;
    border-radius: 150px 0px 0px 0px;
    margin: 140px 0 0 -125px;
}

/* .dotted__line {
    display: flex;
    gap: 0.5rem;

    position: relative;
    left: 3rem;
    top: -275px;
}

#dotted__line__one {
    width: 16%;
}

#dotted__line__two {
    width: 6%;

    z-index: -3;
}

.hr__dotted {
    border: 7px dotted #E7F0FC;
    top: 595px;
    left: 402px;
    padding: 3.5px;
    margin-bottom: 7px;
} */

.third__card {
    display: flex;
    gap: 2rem;
    height: 0;
}

.card {
    height: 379px;
    width: 308px;

    border-radius: 40px;
    border-color: var(--color-border-card);
    border: 1px;
    background-color: var(--color-white);

    display: grid;
    align-content: center;
    justify-content: center;
    gap: 1rem;

    box-shadow: 0px 10px 50px 0px var(--color-border-card);
}

.img__card__one {

    background: url(../../assets/box-search.svg), var(--color-background-box);
    height: 121px;
    width: 121px;
    background-repeat: no-repeat;
    background-position: center;

    justify-self: center;
    border-radius: 20px;
}

.img__card__two {

    background: url(../../assets/code.svg), var(--color-background-code);
    height: 121px;
    width: 121px;
    background-repeat: no-repeat;
    background-position: center;

    justify-self: center;
    border-radius: 20px;

}

.img__card__three {
    background: url(../../assets/empty-wallet.svg), var(--color-background-wallet);
    height: 121px;
    width: 121px;
    background-repeat: no-repeat;
    background-position: center;

    justify-self: center;
    border-radius: 20px;
}

.img__card__four {
    background: url(../../assets/chart-square.svg), var(--color-background-chart-square);
    height: 121px;
    width: 121px;
    background-position: center;
    background-repeat: no-repeat;

    justify-self: center;
    border-radius: 20px;
}

.card__one__two {
    display: grid;
    gap: 2rem;
}

.card__three__four {
    display: grid;
    gap: 2rem;
    bottom: 68px;
    position: relative;
}

.card__four {
    box-shadow: 0px 10px 0px 0px var(--color-border-card) !important;
}

.h2__card {
    font-size: 24px;
    font-weight: 600;

    text-align: center;

    color: var(--color-black);


    line-height: 30px;
    height: 60px;
    width: 239px;
}

.p__card {
    font-size: 16px;
    font-weight: 400;

    text-align: center;
    font-family: Averta Demo PE Cutted Demo;

    line-height: 22px;

    color: var(--color-textcolor-card);


    height: 44px;
    width: 245px;
}

.circle {
    height: 120px;
    width: 120px;


    box-sizing: border-box;

    border-radius: 50%;
    border: 8.8px solid #FF007A;

    position: relative;

    left: 248px;
    bottom: 132px;
    z-index: -3;
}

.section__four {
    max-width: 1200px;
    height: 436px;
    margin: 0 auto;
    display: flex;
    gap: 39px;
    margin-top: 146px;
    margin-bottom: 295px;
}

.video {
    width: 550px;
    border-radius: 32px;

    box-shadow: 10px 20px 50px 0px var(--color-textcolor-card);
}

.circle__video {
    height: 129px;
    width: 129px;
    border-radius: 62px;
    background-color: var(--color-beige);
    z-index: -1;
    display: flex;
    margin-top: -65px;
    margin-left: 462px;
}

.square__section__four {
    background-color: var(--color-background-great);
    width: 178px;
    height: 178px;
    border-radius: 0px 0px 100px 0px;
    position: absolute;
    box-sizing: border-box;
    margin-top: 58px;
    z-index: -1;
}


.great__digital__container h2 {
    height: 98px;
    width: 468px;

    font-size: 40px;
    color: var(--color-black);

    margin-top: 82px;
    margin-left: 39px;
}

.great__digital__container p {

    font-size: 16px;
    font-weight: 400;

    height: 104px;
    width: 532px;
    color: var(--color-textcolor);

    margin-top: 30px;
    margin-left: 38px;
}

.fifth-content {
    width: 100%;
    margin-bottom: 146px;
}

.fifth-container {
    max-width: 1200px;
    height: 292px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 75px;
    background-color: #F4F9FF;
    align-items: center;
}

.subscribe-container {
    width: 536px;
    display: flex;
    flex-direction: column;
    margin-left: 92px;
    gap: 17px;
}

.subscribe-container h2 {
    height: 49px;
    font-size: 38px;
    font-weight: 700;
}

.subscribe-container p {
    height: 29px;
    font-size: 18px;
    font-weight: 400;
}

.second-ellipse {
    width: 178px;
    height: 178px;
    border-bottom-left-radius: 50%;
    background-color: #FFF5DB;
    margin: -39px 0 0 -39px;
    z-index: -1;
    position: absolute;
}

.container-email {
    display: flex;
    flex-direction: column;
}

.points-email {
    width: 175px;
    height: 154px;
    z-index: -1;
    transform: translate(240%, 15%);
}

.hr-email {
    border-top: 7px dotted #DFEEFF !important;
    border-bottom: 7px dotted #DFEEFF !important;
    border: none;
    padding: 7px;
    margin-bottom: 14px;
    display: flex;
    gap: 14px;
}

.subscribe-email {
    width: 543px;
    height: 292px;
    display: flex;
    align-items: center;
    transform: translate(0%, -26%);
}

.image-subscribe {
    padding-left: 75px;
    position: absolute;
}

.button-sub {
    display: flex;
    width: 479px;
    height: 80px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 60px;
    z-index: 0;
    align-items: center;
    gap: 57px;
}

.input-email {
    width: 250px;
    height: 40px;
    margin-left: 34px;
    border: none;
    font-size: 16px;
    padding: 5px;
}

.button-email {
    width: 188px;
    height: 60px;
    padding: 20px 30px;
    border-radius: 60px;
    margin-right: 10px;
    background-color: #2639ED;
    border: 1px solid #2639ED;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.button-email:hover {
    background-color: #DAE9FF;
    border: #DAE9FF;
    color: #000000;
    transform: scale(1.1);
    transition: all 0.5s;
}

footer {
    width: 100%;
    height: 450px;
    margin: 0 auto;
}

.hr__top {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    height: 348px;
    display: flex;
}

.footer__first {
    width: 463px;
    display: flex;
    flex-direction: column;
}

.font__weigth__size {
    width: 272px;
    margin-top: 116px;
    font-weight: 400;
    font-size: 14px;
}

.container-media {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.container__menu__footer {
    width: 737px;
    margin-top: 63px;
}

.footer__second {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.secondary__title {
    font-size: 20px;
    font-weight: bolder;
    color: var(--color-black);
}

.font__size {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.hr__end {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #F1F1F1;
}

.copyrigth {
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #A4A4A4;
    margin-top: 17px;
    display: flex;
    justify-content: center;
}