@media (max-width: 425px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 2rem 2rem;
  }

  .logo {
    text-decoration: none;

    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);

    padding-right: 2rem;
  }

  #menu__burguer {
    padding-left: 0.3rem;
  }

  nav {
    position: absolute;
    transform: translateY(118px);

    max-height: 0;

    overflow: hidden;
    transition: max-height 500ms ease-in;

    background: var(--color-orange);

    height: 13rem;
    width: 9rem;

    border-radius: 0px 0px 10px 0px;
  }

  nav.opened {
    max-height: 100vh;
  }

  .navigation__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0.5rem;
    gap: 1rem;

    list-style: none;
  }

  .navigation__styling {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-white);
  }

  .first__section__left h1 {
    display: none;
  }

  .points {
    width: 22rem;

    transform: translate(-105px, 2px);
    z-index: -3;
  }

  .hr__points {
    border-top: 7px dotted #f4f4f4 !important;
    border-bottom: 7px dotted #f4f4f4 !important;
    border: none;
    padding: 7px;
    margin-bottom: 14px;
  }

  .first__section__left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 4rem;
    gap: 1rem;
  }

  .button {
    width: 137px;
    height: 28px;
    border-radius: 60px;
    background-color: #2639ed;
    border: 0.5px solid #2639ed;

    padding: 5px 29px;

    font-size: 12px;
    font-weight: 700;

    color: #ffffff;
    cursor: pointer;
  }

  .first__section__rigth {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(-2px, -170px);
  }

  .ellipse__shape {
    height: 4rem;
    width: 4rem;
    border-radius: 48px;
    background-color: var(--color-ellipse-shape-first);

    z-index: -1;
    transform: translate(-166px, 69px);
  }

  .main__image {
    height: 16rem;
    width: 22rem;
  }

  .second__section {
    transform: translate(10px, -107px);
    display: grid;
    gap: 2rem;
  }

  .ligth__orange__ellipse__shape {
    height: 4rem;
    width: 4rem;
    border-radius: 0px 0px 35px 0px;
    background-color: var(--color-beige);

    transform: translate(128px, -43px);
    z-index: -2;
  }

  .logos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;

    place-items: center;
    list-style: none;
  }

  .third__section .square__shape {
    height: 6rem;
    width: 6rem;
    background-color: var(--color-beige);
    border-radius: 57px 0px 0px 0px;

    transform: translate(11px, 60px);
    z-index: -1;
  }

  .third__section__left {
    display: grid;
    justify-content: center;
    align-items: center;

    padding-bottom: 3rem;
  }

  .dotted__line {
    display: none;
  }

  .card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    place-items: center;

    background-color: #f4f9ff;

    padding: 5rem 0 6rem;
  }

  .card__container ul {
    list-style: none;

    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 14rem;
    width: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-card);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

    gap: 1rem;
    padding: 2rem;
  }

  .second__list {
    position: relative;
    top: 2rem;
  }

  .styling__card__text {
    font-size: 10px;
    font-weight: 600;

    text-align: center;
    color: var(--color-black);
  }

  .styling__paragraph__card {
    font-size: 7px;
    font-weight: 400;

    text-align: center;
    color: var(--color-text-color-card);
  }

  .image__first__card {
    background: url(../../assets/box-search.svg), var(--color-background-box);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .image__second__card {
    background: url(../../assets/code.svg), var(--color-background-code);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .image__third__card {
    background: url(../../assets/empty-wallet.svg),
      var(--color-background-wallet);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .image__fourth__card {
    background: url(../../assets/chart-square.svg),
      var(--color-background-chart-square);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .big__square {
    background-color: var(--color-light-blue);
    height: 34rem;
    width: 25rem;

    transform: translate(-210px, -538px);
    z-index: -1;

    border-radius: 10px;
  }

  .card__container .circle__shape {
    height: 7rem;
    width: 7rem;

    border-radius: 58px;
    border: 7px solid var(--color-pink);

    position: relative;
    bottom: 40rem;
    left: 4rem;
    z-index: -2;
  }

  .fourth__section {
    padding-bottom: 1rem;
  }

  .fourth__section__left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .fourth__section__left .points {
    transform: translate(-116px, 130px);
  }

  .fourth__section__left .video {
    height: 13rem;
    width: 19rem;

    border-radius: 1.1rem;
  }

  .fourth__section__left .circle__shape {
    height: 5rem;
    width: 5rem;

    border-radius: 48px;
    background-color: var(--color-beige);

    transform: translate(143px, -51px);
    z-index: -1;
  }

  .fourth__section__rigth {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 4rem;

    padding-bottom: 3rem;
  }

  .square__shape {
    height: 8rem;
    width: 8rem;

    background-color: var(--color-gray);
    border-radius: 57px 0px 0px 0px;

    transform: translate(-129px, 159px);
    z-index: -1;
  }

  .fifth__section {
    background-color: var(--color-light-blue);

    height: 14rem;
    width: 25.5rem;

    border-radius: 2rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .fifth__section .ellipse__shape {
    display: none;
  }

  .email__container {
    background-color: var(--color-white);
    border: 35px var(--color-border-email-container);
    display: flex;
  }

  .hr__email {
    display: none;
  }

  .subscribe__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subscribe__image {
    display: none;
  }

  .input__email {
    border: 0 none;
  }

  .top__section {
    font-size: 16px;
    font-weight: 400;

    text-align: center;

    padding-top: 2rem;

    display: grid;
    gap: 16px;
  }

  footer h3 {
    display: none;
  }

  .footer__section__left {
    display: grid;
    gap: 2rem;

    padding-bottom: 1rem;
  }

  .footer__section__left h3 {
    display: grid !important;
  }

  .divider {
    display: none;
  }

  .copyrigth {
    text-align: center;
    padding: 2rem;
  }

  .google {
    margin: 0;
  }

  .airbnb {
    margin: 0;
  }

  .uber {
    margin: 0;
  }

  .amazon {
    margin: 0;
  }

  .boticario {
    display: none;
  }

  .alura {
    display: none;
  }

  .berenice {
    display: none;
  }
  .big__square {
    display: none;
  }
  .card__container .circle__shape {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 2rem 2rem;
  }

  .logo {
    text-decoration: none;

    font-size: 20px;
    font-weight: 400;
    color: var(--color-black);

    padding-right: 2rem;
  }

  #menu__burguer {
    padding-left: 0.3rem;
  }

  nav {
    position: absolute;
    transform: translateY(118px);

    max-height: 0;

    overflow: hidden;
    transition: max-height 500ms ease-in;

    background: var(--color-orange);

    height: 13rem;
    width: 9rem;

    border-radius: 0px 0px 10px 0px;
  }

  nav.opened {
    max-height: 100vh;
  }

  .navigation__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0.5rem;
    gap: 1rem;

    list-style: none;
  }

  .navigation__styling {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-white);
  }

  .first__section__left h1 {
    display: none;
  }

  .points {
    width: 36rem;
    transform: translate(-102px, 12px);
    z-index: -3;
  }
  .hr__points {
    border-top: 7px dotted #f4f4f4 !important;
    border-bottom: 7px dotted #f4f4f4 !important;
    border: none;
    padding: 7px;
    margin-bottom: 14px;
  }

  .first__section__left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 4rem;
    gap: 1rem;
  }

  .button {
    width: 200px;
    height: 40px;
    border-radius: 60px;
    background-color: #2639ed;
    border: 0.5px solid #2639ed;
    padding: 5px 29px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
  }

  .first__section__rigth {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(-2px, -170px);
  }

  .ellipse__shape {
    height: 8rem;
    width: 8rem;
    border-radius: 74px;
    background-color: var(--color-ellipse-shape-first);
    z-index: -1;
    transform: translate(-296px, 140px);
  }
  .main__image {
    height: 28rem;
    width: 38rem;
  }

  .second__section {
    transform: translate(10px, -107px);
    display: grid;
    gap: 2rem;

    justify-content: center;
    align-items: center;
  }

  .ligth__orange__ellipse__shape {
    transform: translate(128px, -43px);
    z-index: -2;
    height: 8rem;
    width: 8rem;
    border-radius: 0px 0px 35px 0px;
    background-color: var(--color-beige);
    transform: translate(196px, -74px);
    z-index: -2;
  }

  .logos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;

    place-items: center;
    list-style: none;
  }

  .third__section {
    display: flex;
  }
  .third__section .square__shape {
    height: 8rem;
    width: 8rem;
    background-color: var(--color-beige);
    border-radius: 57px 0px 0px 0px;
    transform: translate(12px, 55px);
    z-index: -1;
    position: relative;
  }

  .third__section__left {
    width: 50%;
  }

  .dotted__line {
    display: none;
  }

  .card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    place-items: center;

    background-color: #f4f9ff;

    width: 50%;
  }

  .card__container ul {
    list-style: none;

    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 14rem;
    width: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-card);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

    gap: 1rem;
    padding: 2rem;
  }

  .second__list {
    position: relative;
    top: 2rem;
  }

  .styling__card__text {
    font-size: 10px;
    font-weight: 600;

    text-align: center;
    color: var(--color-black);
  }

  .styling__paragraph__card {
    font-size: 7px;
    font-weight: 400;

    text-align: center;
    color: var(--color-text-color-card);
  }

  .image__first__card {
    background: url(../../assets/box-search.svg), var(--color-background-box);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .image__second__card {
    background: url(../../assets/code.svg), var(--color-background-code);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .image__third__card {
    background: url(../../assets/empty-wallet.svg),
      var(--color-background-wallet);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .image__fourth__card {
    background: url(../../assets/chart-square.svg),
      var(--color-background-chart-square);
    background-repeat: no-repeat;
    background-position: center;

    height: 8rem;

    border-radius: 20px;

    justify-self: center;
  }

  .big__square {
    background-color: var(--color-light-blue);
    height: 34rem;
    width: 25rem;

    transform: translate(-210px, -538px);
    z-index: -1;

    border-radius: 10px;
  }

  .card__container .circle__shape {
    height: 7rem;
    width: 7rem;

    border-radius: 58px;
    border: 7px solid var(--color-pink);

    position: relative;
    bottom: 40rem;
    left: 4rem;
    z-index: -2;
  }

  .fourth__section {
    display: flex;
  }

  .fourth__section__left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 50%;
  }

  .fourth__section__left .points {
    transform: translate(-116px, 130px);
  }

  .fourth__section__left .video {
    height: 16rem;
    width: 21rem;
  }

  .fourth__section__left .circle__shape {
    height: 6rem;
    width: 6rem;
    border-radius: 48px;
    background-color: var(--color-beige);
    transform: translate(154px, -94px);
    z-index: -1;
  }

  .fourth__section__rigth {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 50%;
  }

  .square__shape {
    height: 8rem;
    width: 8rem;
    background-color: var(--color-gray);
    border-radius: 57px 0px 0px 0px;
    transform: translate(-96px, 125px);
    z-index: -1;
  }

  .fifth__section {
    background-color: var(--color-light-blue);

    height: 14rem;
    width: 25.5rem;

    border-radius: 2rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
  }

  .fifth__section .ellipse__shape {
    display: none;
  }

  .email__container {
    background-color: var(--color-white);
    border: 35px var(--color-border-email-container);
    display: flex;
  }

  .hr__email {
    display: none;
  }

  .subscribe__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subscribe__image {
    display: none;
  }

  .input__email {
    border: 0 none;
  }

  .top__section {
    font-size: 16px;
    font-weight: 400;

    text-align: center;

    padding-top: 2rem;

    display: grid;
    gap: 16px;
  }

  footer h3 {
    display: none;
  }

  .footer__section__left {
    display: grid;
    gap: 2rem;

    padding-bottom: 1rem;
  }

  .footer__section__left h3 {
    display: grid !important;
  }

  .divider {
    display: none;
  }

  .copyrigth {
    text-align: center;
    padding: 2rem;
  }

  .google {
    margin: 0;
  }

  .airbnb {
    margin: 0;
  }

  .uber {
    margin: 0;
  }

  .amazon {
    margin: 0;
  }

  .boticario {
    display: none;
  }

  .alura {
    display: none;
  }

  .berenice {
    display: none;
  }

  .big__square {
    display: none;
  }
  .card__container .circle__shape {
    display: none;
  }
}
