@media (max-width: 375px) {

    header {
        display: flex;

        justify-content: space-between;
        align-items: center;

        padding-right: 1rem;
    }

    .logo {
        display: grid;
        color: var(--color-black);
        padding-right: 4rem;

        font-size: 14px;
    }

    #burguer {

        display: grid;
        text-align: center;

        border-radius: 0, 1rem, 0, 0;

        width: 130px;
    }

    nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms ease-in;

        display: grid;

        background: var(--color-green);
        height: 208px;
        width: 140px;
        border-radius: 0px 0px 10px 0px;

        justify-content: center;
    }

    nav.opened {
        max-height: 100vh;
    }

    ul {

        border-radius: 0px 0px 18px 0px;

        gap: 1rem;
        padding: 0.5rem;

        display: flex;
        flex-direction: column;

        width: 8rem;
    }

    li {
        justify-content: center;
        display: flex;
    }

    .style {
        font-size: 14px;
        font-weight: 600;

        line-height: 17px;
        color: var(--color-white);

        justify-content: center;
    }

    .text-container h1 {
        display: none;
    }

    .text-container h2 {
        font-size: 32px;


        height: 4rem;
        width: 17rem;


        text-align: center;
    }

    .elements {
        flex-direction: column;
    }

    .text-container {
        width: 50vh;

    }

    .text-section1 {
        height: 6rem;
        width: 19rem;


        text-align: center;
    }

    .button {
        height: 2rem;
        width: 9rem;

        font-size: 11px;
        font-weight: 700;

        padding: 0px;
    }

    .container-image {
        height: 12rem;
        width: 19rem;
    }

    .points {
        height: 124px;
        width: 308px;

        transform: translate(-15%, -146%);
        z-index: -1;
        position: relative;
    }


    .geometric-images {
        width: 50%;
        padding: 0px;

    }

    .ellipse {
        width: 3.5rem;
        height: 3.5rem;


        transform: translate(41px, -69px);
        z-index: -3;
        position: relative;
    }


    .yellow-ellipse {
        width: 3.9375rem;
        height: 3.9375rem;

        transform: translate(-222px, 38px);

        z-index: -2;
        position: relative;
    }


    .secondary-container {
        flex-direction: column;
    }

    .container-logos {
       display: grid;


    }


    .section__four {
        flex-direction: column;
    }


    .section__three {
        display:flex;
        flex-direction: column;
    }

    .video {
        height: 12rem;
        width: 19rem;

        border-radius: 1rem;

        box-shadow: 0px 0px 0px 0px var(--color-textcolor-card);
    }

    .circle__video {
        height: 4rem;
        width: 4rem;

        transform: translate(264px, -53px);
    }

    .square__section__four {
        height: 7rem;
        width: 7rem;
    }

    .great__digital__container h2 {
        height: 8rem;
        width: 18rem;

        font-size: 32px !important;
        font-weight: 700 !important;
        line-height: 32px;

        text-align: center;
    }

    .great__digital__container p {

        font-size: 16px;
        font-weight: 300;
        line-height: 24px;

        text-align: center;


        height: 8rem;
        width: 18rem;
        ;

    }



    .fifth-container {
        flex-direction: column;
    }

    .fifth-content {
        height: 13rem;
        width: 23rem;
        border-radius: 4rem;
    }

    .subscribe-container {
        height: 2rem;
        width: 20rem;
        justify-content: flex-start;
        align-items: center;
        padding-top: 6rem;
        padding-right: 2rem;
        text-align: center;
    }



    .subscribe-container h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    .subscribe-container p {
        font-size: 16px;
        font-weight: 300;
    }

    .second-ellipse {
        display: none;
    }

    .points-email {
        display: none;
    }

    .image-subscribe {
        display: none;
    }


    .footer__first {
        text-align: center;

        font-size: 16px;
        font-weight: 400;

        line-height: 23px;

    }


    .footer__first h3 {
        padding: 1rem;
    }

    .footer__second {
        display: none;
    }

    .footer__third {
        display: none;
    }

    .footer__mobile {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding-top: 1rem;
    }

    .footer__mobile h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .home {
        font-weight: 700 !important;
    }



    .main__content {
        margin-top: 49px;
    }

    .main__container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0 36px;
    }
    
    .elements {
        width: 304px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    .text__container {
        width: 304px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text__container h1 {
        display: none;
    }
    
    .text__container h2 {
        width: 285px;
        height: 100px;
        font-size: 35px;
        font-weight: 700;
        display: flex;
        text-align: center;
        margin-bottom: 10px;
    }

    .text__main {
        width: 303px;
        height: 130px;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .button {
        width: 137px;
        height: 28px;
        border-radius: 60px;
        background-color: #2639ED;
        border: 0.5px solid #2639ED;
        padding: 5px 29px;
        font-size: 12px;
        font-weight: 700;
        line-height: 18.03px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .points {
        width: 404px;
        height: 154px;
        margin: 10px 0 0 -265px;
    }

    .geometric__images {
        width: 304px;
        height: 206.5px;
        margin-top: -85px;
        padding: 0;
    }

    .ellipse {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #DAE9FF;
        margin-left: -20px;
        z-index: -1;
    }

    .container__image {
        width: 304px;
        height: 206.5px;
        display: flex;
        margin: -55px 0 0 0;
    }

    .secondary__container {
        max-width: 287px;
        height: 182px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .yellow__ellipse {
        width: 65px;
        height: 65px;
        border-end-end-radius: 50%;
        background-color: #FFF5DB;
        margin: -30px 0 0 220px;
    }

    .secondary__text {
        width: 287px;
        align-items: center;
        text-align: center;
        gap: 8px;
    }

    .secondary__text h2 {
        height: 34px;
        font-size: 32px;
        font-weight: 700;
    }

    .secondary__text p {
        height: 43px;
        font-size: 16px;
        font-weight: 300;
    }

    .carousel {
        width: 287px;
        height: 120px;
    }

    .container__logos {
        height: 90px;
        margin: auto;
        overflow: hidden;
        display: flex;
        /* display: flex;
        justify-content: space-between;
        gap: 60px; */
    }
    
    .container__logos ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 228px;
        height: 75px;
        animation: automatico 15s infinite alternate linear;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        margin: 0 auto;
        margin-top: 8px;
        row-gap: 8px;
    }
    
    .container__logos li {
        width: 100px;
        list-style: none;
    }
    
    .container__logos img {
        width: 100%;
    }
    
    .google {
        margin: 0;
    }
    
    .airbnb {
        margin: 0;
    }
    
    .uber {
        margin: 0;
    }
    
    .amazon {
        margin: 0;
    }
    
    .boticario {
        display: none;
    }
    
    .alura {
        display: none;
    }
    
    .berenice {
        display: none;
    }
}